<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/profile.css">
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>
<body>

<br><br>

<form id="submitEmail" action="/profile" method="POST">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <button type="submit" class="btn btn-primary">Send Email</button>
</form>


<script>
  document.getElementById("submitEmail").addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission FOR TESTING
    const email = document.getElementById('email').value; 
    console.log('Email:', email);
  });
</script>

</body>
</html>


