<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/profile.css">
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>
<body>
<h1>POTATO</h1>
<%for(const user of users) {%>
<%= user.name %>
<% } %>


<br><br>
<div><button class="btn">Send Mail To MEEEEE</button></div>

<!-- <script  src="/public/scripts/app.js"></script> -->
</body>
</html>


