// Global Body Styles
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
}

// Header Styling
header h2 {
  font-size: 20px;
}

header a {
  font-size: 16px;
  padding: 6px 12px;
}

#main-container {
  display: flex;
  justify-content: center;
  overflow:auto;
}
// Poll Creation Box
form {
  width: 80%;
  max-width: 600px;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

// Poll Title and Admin Email Styling (Yellow Box)
.poll-info {
  background-color: #fff9c4;
  padding: 15px 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
    227deg,
    rgb(224, 210, 84) 0%,
    rgb(224, 222, 60) 20%,
    rgb(221, 173, 69) 80%,
    rgb(207, 167, 34) 100%
  );
  background-size: 400% 400%;
  animation: gradient 7.5s ease infinite;
}



.poll-info label {
  align-self: flex-start;
  font-weight: bold;
}

.poll-info input[type="text"],
.poll-info input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  margin: auto;
}

// Option Groups (with alternating colors)
.option-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 12px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.option-group:nth-child(odd) {
  background: linear-gradient(
    227deg,
    #c8e6c9 0%,
    #84c480 20%,
    #6dcf93 60%,
    #4ca863 100%
  );
  background-size: 400% 400%;
  animation: gradient 7.5s ease infinite;
}

.option-group:nth-child(even) {
  background: linear-gradient(
    227deg,
    #87bbd3 0%,
    #81bee4 20%,
    #359bd6 60%,
    #487fa6 100%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}



.option-group label {
  align-self: flex-start;
  font-weight: bold;
}

.option-group input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  margin: auto;
}
@media (max-width: 768px) {
  form {
    width: 95%;
  }
}
