body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
}

h1{
  color: #ffffff;
  align-self: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-container {

  align-self: center;
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 5em;

  #container-top {
    display: flex;
    flex: 1;
    summary {

      padding: 1em;
      color: #ffffff;
      border-right: solid 1px #ffffff;
      border-top: solid 1px #ffffff;
      p{
        font-size: 25px;
        font-weight: 100;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }
  }
}
