body {
  height: 100vh;
  background: linear-gradient(
    227deg,
    rgb(109, 51, 51) 25%,
    rgb(53, 54, 46) 50%,
    rgb(80, 85, 67) 75%,
    rgb(78, 80, 57) 100%,
  );
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #131212;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  border-bottom: solid 1px #ffffff;
  padding: 0em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  i{
    margin-left: .5em;
  }
}

h1{
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  align-self: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-container {
  align-self: center;
  background-color: #131212;
  border: solid 1px #ffffff;
  width: 80vw;
  height: 70vh;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 5em;

  #container-top {
    display: flex;
    flex: 1;
    summary {
      width: 60%;
      padding: 1em;
      color: #ffffff;
      p{
        font-size: 25px;
        font-weight: 100;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }
    img {
      height: 90%;
      width: 40%;
      margin: .5em;
      align-self: center;
      border-radius: 5%;
      color: #ffffff;
      background-color: #131212;
      border: solid 1px #ffffff;
    }
  }

  button {
    align-self: center;
    background-color: #131212;
    color: #ffffff;
    height: 25%;
    width: 60%;
    border: solid 1px #ffffff;
    border-radius: 5%;
    padding: .5em;
    margin: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }

}

footer {
  background-color: #131212;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  text-align: center;
  margin-top: 1em;
  font-size: 14px;
}

button:hover {
  transform: scale(1.05);
}
