// Global styles
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color:#ffff;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: #ffff;
  margin-bottom: 20px;
}

p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

// Form container styling
form#voteForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  border: solid 1px #ffff;


}

// Sortable list styling
#sortable {
  list-style: decimal;
  color: #fff;
  margin: 20px auto;
  padding: 0;
  width: 100%;
}

#sortable li {
  margin-bottom: 10px;
  padding: 12px;
  font-size: 18px;
  border: solid 1px #ffff;
  border-radius: 3px;
  cursor: move;
  transition: background-color 0.3s ease;
}
#sortable li:hover {
  background-color: #323638;
}
